body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 80vh;
    
}

.logo {
    max-width: 80%;
    height: auto;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 500px;

}


@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-md-6 {
        width: 100%;
    }

    .logo {
        max-width: 50%;
        margin-bottom: 20px;
    }
}
